@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Pixel Georgia";
  src: url(../fonts/Pixel_Georgia.ttf);
}
@font-face {
  font-family: "Pixel Digivolve";
  src: url(../fonts/Pixel_Digivolve.otf);
}
@font-face {
  font-family: "Pixel Progress";
  src: url(../fonts/Pixel_Progress.otf);
}
html, body {
  font-family: "Pixel Georgia", sans-serif;
}

@keyframes flow-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flow-1 {
  0% {
    transform: scale(1);
    transform: rotate(20deg);
  }
  35% {
    transform: scale(1.03);
    transform: rotate(24deg);
  }
  60% {
    transform: rotate(10deg);
    transform: scale(1.06);
  }
  75% {
    transform: rotate(7deg);
    transform: scale(1.09);
  }
  100% {
    transform: rotate(15deg);
    transform: scale(1.02);
  }
}
@keyframes right {
  15% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    transform: scale(0.8) translateX(0px);
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(1px);
  }
  60% {
    transform: scale(0.8) translateX(100px);
    opacity: 1;
  }
  80% {
    transform: scale(1) translateX(120px);
    background-color: rgba(71, 71, 71, 0.5);
  }
  100% {
    transform: scale(1) translateX(140px);
    opacity: 0;
  }
}
@keyframes left {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    transform: scale(0.8) translateX(0px);
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(1px);
  }
  60% {
    transform: scale(0.8) translateX(-100px);
    opacity: 1;
  }
  80% {
    transform: scale(1) translateX(-120px);
    background-color: rgba(71, 71, 71, 0.5);
  }
  100% {
    transform: scale(1) translateX(-140px);
    opacity: 0;
  }
}
@keyframes tap {
  20% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    transform: scale(0.8);
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(1px);
  }
  50% {
    transform: scale(0.8);
    opacity: 1;
  }
  70% {
    transform: scale(0.8);
    background-color: rgba(71, 71, 71, 0.5);
  }
  100% {
    transform: scale(0.95);
    opacity: 0;
  }
}
html {
  max-width: 100vw;
}

body {
  background: url("../img/flower/bg.png");
  background-color: #FFEAA1;
  background-size: contain;
  background-repeat: repeat;
  max-width: 100%;
  overflow-x: hidden;
  touch-action: manipulation;
  text-transform: lowercase;
}

.section-1 {
  position: relative;
  height: 680px;
  height: 100vh;
  margin-top: 200px;
}
.section-1 p {
  margin-top: 110px;
  font-size: 64px;
  color: #FF9254;
  text-align: center;
  font-weight: bold;
}
.section-1 .gif-1 {
  position: absolute;
  width: 100vw;
  height: 440px;
  top: 0;
  left: 0;
  overflow: hidden;
}
.section-1 .gif-2 {
  position: absolute;
  width: 264px;
  height: 226px;
  right: 0;
  top: 300px;
  text-align: right;
}
.section-1 .gif-3 {
  position: absolute;
  width: 70%;
  left: -50px;
  top: 400px;
  text-align: left;
}
.section-1 .gif-lapa {
  position: absolute;
  top: -200px;
  right: 0;
  height: 300px;
  transform: rotate(-90deg);
}

.section-2 {
  position: relative;
  height: 380px;
  margin-bottom: 90px;
}
.section-2 p {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #CD5C5C;
}
.section-2 .lov-2 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 0;
  right: 0;
}
.section-2 .gif-1 {
  overflow: hidden;
}
.section-2 .gif-4 {
  top: -50px;
  margin-right: 40px;
}
.section-2 .gif-5 {
  left: 20px;
  top: 100px;
}
.section-2 .gif-6 {
  width: 166px;
  height: 178px;
  position: absolute;
  right: 0;
  top: 120px;
}
.section-2 .flow-01 {
  position: absolute;
  height: 350px;
  top: 200px;
  left: -120px;
  transform: rotate(30deg);
  transform: scale(1);
  animation: flow-1 4s ease-in-out infinite forwards alternate-reverse;
}
.section-2 .flow-02 {
  position: absolute;
  height: 200px;
  top: -300px;
  right: -70px;
  animation: flow-2 4s linear infinite forwards;
}

.section-3 {
  position: relative;
  margin-bottom: 300px;
  margin-top: 100px;
}
.section-3 p {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #DF818F;
}
.section-3 .gif-7 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.flip-container {
  perspective: 900px;
}

.open {
  transition-delay: 2s;
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 100%;
  height: auto;
}

.flipper {
  perspective: 900px;
  display: flex;
  transition: 0.6s;
  justify-content: center;
  transform-style: preserve-3d;
  position: relative;
  transition-delay: 0.3s;
}

.front, .back {
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.flipper .gif-card {
  transform: none;
}

.section-card {
  display: flex;
  margin-bottom: 5px;
}
.section-card .card {
  margin: 0 auto;
  display: flex;
  position: relative;
  width: 95%;
  height: 550px;
  margin-top: 200px;
  margin-bottom: 37px;
  border: 2px solid rgba(228, 213, 149, 0.7);
  background-color: #FFF8DC;
  box-shadow: 0 5px 15px rgba(71, 71, 71, 0.25);
  border-radius: 60px 60px 20px 20px;
}
.section-card .card .gif-card {
  display: flex;
  height: 200px;
  justify-content: center;
  margin-top: -195px;
}
.section-card .card .gif-card img {
  height: 100%;
}
.section-card .card .lock {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s;
}
.section-card .card .lock img:hover .lock {
  transform: translate(-50%, -50%) scale(1.1);
}
.section-card .card-img {
  margin-top: -6px;
  min-width: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 60px 60px 5px 5px;
}
.section-card .card-img img {
  width: 100%;
  height: 100%;
}
.section-card .card .text {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.section-card .card .text_inner {
  height: 35%;
}
.section-card .card p {
  text-align: center;
  justify-content: space-between;
  font-size: 22px;
  line-height: 1.25;
  color: #B0B0B0;
  text-shadow: 0px 2px 5px rgba(122, 122, 122, 0.25);
}
.section-card .card .text-none {
  display: none;
}

.card-transparent {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  z-index: 10000;
  border: none;
  border-radius: 60px 60px 20px 20px;
}

.gide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.gide .touch {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(46, 46, 46, 0.5);
  filter: blur(5px);
  padding: 5px;
  margin: 15px;
  transform: scale(1);
}
.gide_right {
  animation: right 2s ease-in-out infinite backwards;
  animation-delay: 2s;
}
.gide_left {
  animation: left 2s ease-in-out infinite backwards;
  animation-delay: 3s;
}
.gide_tap {
  animation: tap 2s ease-in-out infinite backwards;
  animation-delay: 1.5s;
}
.gide p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #646464;
}