//  colors
$color-bg: #FFEAA1;
$color-text-1: #FF9254;
$color-text-2: #CD5C5C;
$color-text-3: #DF818F;
$color-text-4: #B0B0B0;
$shadow-text: rgba(122,122,122,0.25);
$color-card: #FFF8DC;
$shadow-card: rgba(71,71,71,0.25);
$color-touch: rgba(71,71,71, 0.5);
