@keyframes flow-2 {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes flow-1 {
	0%{
		transform: scale(1);
		transform: rotate(20deg);
		}
	35%{
		transform: scale(1.03);
		transform: rotate(24deg);
	}	
	60%{
		transform: rotate(10deg);
		transform: scale(1.06);
	}
	75%{
		transform: rotate(7deg);
		transform: scale(1.09);
	}
	100%{
		transform: rotate(15deg);
		transform: scale(1.02);
	}
}

@keyframes right {
	0%{
		opacity: 1;
		transform: scale(1);
	}
	20%{
		transform: scale(0.8) translateX(0px);
		background-color: darken($shadow-card, 50%);
	}
	60%{
		transform: scale(0.8) translateX(100px);
		opacity: 1;
	}	
	80%{
		transform: scale(1) translateX(120px);
		background-color: $shadow-card;
	}
	100%{
		transform: scale(1) translateX(140px);
		opacity: 0;
	}
}

@keyframes left {
	0%{
		opacity: 1;
		transform: scale(1);
	}
	20%{
		transform: scale(0.8) translateX(0px);
		background-color: darken($shadow-card, 50%);
	}
	60%{
		transform: scale(0.8) translateX(-100px);
		opacity: 1;
	}	
	80%{
		transform: scale(1) translateX(-120px);
		background-color: $shadow-card;
	}
	100%{
		transform: scale(1) translateX(-140px);
		opacity: 0;
	}
}

@keyframes tap {
	0%{
		opacity: 1;
		transform: scale(1);
	}
	20%{
		transform: scale(0.8);
		background-color: darken($shadow-card, 50%);
	}
	60%{
		transform: scale(0.8) ;
		opacity: 1;
	}	
	80%{
		transform: scale(1);
		background-color: $shadow-card;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}