// Файл обнуляющих стилей
@import "nullstyle";
@import "colors";
@import "font";


//____________________________
html{
	max-width: 100vw;
	// overflow-x: scroll;
}
body{
	background: url('../img/flower/bg.png');
	background-color: $color-bg;
	background-size: contain;
	background-repeat: repeat;
	max-width: 100%;
	overflow-x: hidden;
	// touch-action: manipulation;
}

.section-1{
	position: relative;
	height: 680px;
	p{
		margin-top: 110px;
		font-size: 64px;
		color: $color-text-1;
		text-align: center;
		font-weight: bold;
	}
	.gif-1{
		position: absolute;
		width: 100vw;
		height: 440px;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	.gif-2{
		position: absolute;
		width: 264px;
		height: 226px;
		right: 0;
		top: 300px;
		text-align: right;
	}
	.gif-3{
		position: absolute;
		width: 70%;
		left: -50px;
		top: 400px;
		text-align: left;
	}
	
}

.section-2{
	position: relative;
	height: 380px;
	margin-bottom: 90px;
	// overflow: hidden;
	p{
		font-size: 48px;
		font-weight: bold;
		text-align: center;
		color: $color-text-2;
	}
	.lov-2{
		position: absolute;
		width: 90px;
		height: 90px;
		top: 0;
		right: 0;
	}
	.gif-1{
		overflow: hidden;
	}
	.gif-4{
		top: -20px;
	}
	.gif-5{
		left: 0;
		top: 100px;
	}
	.gif-6{
		width: 166px;
		height: 178px;
		position: absolute;
		right: 0;
		top: 120px;
	}
}

.section-3{
	position: relative;
	margin-bottom: 300px;
	p{
		font-size: 48px;
		font-weight: bold;
		text-align: center;
		color: $color-text-3;
	}
	.gif-7{
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

.section-card{
	height: 300vh;
	display: flex;
	flex-direction: column;
	// flex-wrap: wrap;
	align-items: center;
	.card{
		width: 95%;
		height: 450px;
		margin-bottom: 200px;
		// margin: 0 auto;
		border: 2px solid rgba(228,213,149,0.7);
		background-color: $color-card;
		box-shadow: 0 5px 15px $shadow-card;
		border-radius: 60px 60px 20px 20px;
		
		.gif-card{
			height: 200px;
			text-align: center;
			margin-top: -200px;
			img{
				height: 100%;
			}
		}
	}
}